/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Arc-Dark Color Scheme
*/
/*highlight 5294e2 base 404552*/

@define-color highlight #5294e2 ;
@define-color base1  #123416 ;

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 1px;
  padding: 0;
}

/* The whole bar */
#waybar {
    /*background: transparent;*/
    /*catppuccin 1E1E28*/
    background: rgba(30,29,47,0.5);
    /*color: #bebebe;*/
    color: #DADAE8;
    /*background-color: @base1;*/
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
}

/* Every modules */
#custom-spotify,
#custom-weather,
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#custom-PBPbattery {
    padding:0.5rem 0.6rem;
    margin: 1px 0px;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#custom-spotify{
    background-color: #756a95;
    min-width: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#custom-weather{
    background-color: #332E41;
    min-width: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px; 
}

#clock{
    background: #332E41;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#network{
    background: #332E41;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #332E41;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#cpu, #backlight {
    background: #332E41;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #332E41;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#memory.warning {
    color: orange;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#mode {
    background: @highlight;
    border-bottom: 3px transparent;
    color:white;
    margin-left: 5px;
    padding:7;
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    padding-top:6px;
    background: #332E41;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#pulseaudio.muted {
    color: @highlight;
}

#temperature.critical {
    color: red;
}

#idle_inhibitor {
    background: #332E41;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}
/* ----------------------------------------------------------- */
/*#window {
    font-weight: bold;
}

#workspaces {
    font-size:13px;
}

#workspaces button {
    border-bottom: 3px solid transparent;
    margin-bottom: 0px;
    padding:0px;
}

#workspaces button.focused {
    border-bottom: 3px solid  @highlight;
    margin-bottom: 1px;
    padding-left:0;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}*/

#workspaces {
    background: #332E41;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 0;
    color: #DADAE8;
}

#workspaces button.focused {
    color: #A4B9EF;
}

#workspaces button.urgent {
    color: #F9C096;
}

#workspaces button:hover {
    background: #332e41;
    border-color: #332e41;
        color: #A4B9EF;
}
/* -------------------------------------------------- */
#custom-power {
    margin-left:15px;
    margin-right:15px;
    font-size:15px;
}

#custom-launcher {
    font-size:15px;
    margin-left:15px;
    margin-right:10px;
}

#backlight.icon {
    padding-right:1px;
    font-size: 13px;
}
